/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('../img/fundo3.jpg');
  background-size: auto 150vh;
  height: 100vh;
  font-size: 12px;
  font-family: 'Anonymous Pro', monospace;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

.contato .container {
  min-height: 60vh;
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

html {
  scroll-behavior: smooth;
}

header{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: black;
  position: fixed;
  width:100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: rgb(165, 119, 209);
  border-radius: 5px; 
}

a {
  color:whitesmoke;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

.titulos {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;

  animation: linear 1.5s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-subtitle, 
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 4em;
  font-family: 'Source Code Pro', monospace;
  padding-top: 2em;
}

.site-subtitle::after { /*apagar o after*/
 font-style: italic;
 font-family: 'Flamenco', cursive;
 line-height: 1.8em;
 /**/
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}
/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
/*}*/

.sobre,
.contato,
.portfolio {
  padding: 5em;
  padding-bottom: 2em;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.sobre .avatar img {
  clip-path: circle(50% at 50% 50%);
}

.sobre .avatar {
  float: right;
  margin-left: 1.5em;
}

@media (min-width: 1200px) {
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'Anonymous Pro';
  margin-bottom: 2em;
  font-size: 1.6em;
  width: fit-content;
  color: whitesmoke;
  background-color: black;
}

.sobre p {
  color:whitesmoke;
  margin-bottom: 1.2em;
  text-indent: 2em;
  text-align: justify;
}

.sobre a {
  font-family: 'Flamenco', cursive;
  text-decoration: underline;
}

.sobre a:active,
.sobre a:hover {
  text-decoration: none;
  background-color:whitesmoke;
}

.portfolio .grid {
  display: grid;
  gap: 4em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;}
  .texto {
    align-content: center;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3), 324px;
    align-content: center;
    justify-content: center;
    height: calc(100vh - 3em - 20px);
    background-color:rgba(230, 223, 238, 0.192);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: fill;
  object-position: center;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.2) matrix(1);
}

figcaption {
  margin-top: 12px;
  color: whitesmoke;
}

.contato a {
  color: whitesmoke;
  font-size: 5em;
  transition: text-shadow 1s;
}

.contato :active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 20px rgba(255,255,255);
}

.contato .icons {
  display: grid;
  grid-template-columns: 200px;
  justify-content: center;
  align-content: center;
}

.contato .icons a {
  margin: 13px;
}

.contato .grid a {
  text-align: center;
}

footer {
  text-align: center;
}

footer a {
  background-color: black;
  font-family: 'Flamenco', cursive;
}

footer a:active,
footer a:hover {
  text-decoration: underline;
}

.destaque {
  background-color: #E5E0E0;
  color: black;
}

footer p {
  font-size: 1em;
  color: whitesmoke;
}